@mixin footer($text-color,$links-color,$links-color-hover) {

.site-footer {
  width: auto;
  color: lighten($text-color, 10%);
  margin: 0 auto;
  clear: both;
 padding: 5% 2% 2%;
 border: 1px solid transparent;
 border-top: none;

.col-sm-3{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    text-align: center;
    a {
          color: $links-color;

          &:hover {
              color: $links-color-hover;
          }
    }
    .fa.fa-heart {
      font-size: 10px;
      color: #FFB5B5;
    }
}

}

}