@mixin header($bg-navbar-color,$links-navbar-color,$links-navbar-color-hover,$primary-color) {

/* header tablets and computer */
@media only screen and (min-width: 700px){
  .wrapper.site-header{

    nav[role=banner]{
    background-color: $bg-navbar-color;
    border-style: none;
    min-height: 88px;

    @media only screen and (min-width: 1000px) and (max-width: 1024px){
      padding: 0% 5%;
    }

    @media only screen and (min-width: 1030px){
      padding: 0% 12%;
    }

  }

  .avatar{
    $vlr: 70px;
    background-size: $vlr;
    width: $vlr;
    height: $vlr;
    border-radius: 50%;
  }

  .col-brand{
    $vlr: 70px;
    width: $vlr;
    height: $vlr;
    float: left;
    margin-top: -2%;
  }

  .col-title-icons{
    width: auto;
    height: auto;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
  }

  .site-title{

    a{
     font-family: 'Raleway',arial,sans-serif;
     font-size: 25px;
     font-weight: 300;
     font-style: normal;
     color: $links-navbar-color;
     &:hover{
      color: $links-navbar-color-hover;
    }
  }
}

.social-icons {
  margin-top: 2%;
  li{
    list-style: none;
    float: left;
  }

  i.fa {
    color: $links-navbar-color;
    font-size: 17px;
    &:hover{
      color: $links-navbar-color-hover;
    }
  }
}

#bs-example-navbar-collapse-1.collapse.navbar-collapse{
  ul {
    float: right;
    margin-top: 1.5%;

    li {
      a.btn-search {
        width: auto;
        height: auto;
        border-style: none;
        border-radius: 0%;
        margin-top: -8%;

        &:hover {
          -moz-animation-name: shake;
          -webkit-animation-name: shake;
          -o-animation-name: shake;
          animation-name: shake;
        }
        &:active {
          background-color: #fff;
        } &:focus{
          background-color: #fff;
        }

        .fa.fa-search {
          font-size: 30px;
        }
      }

    }
  }
}


}
}



/* header mobile */
@media only screen and (min-width: 200px) and (max-width:670px){
  .wrapper.site-header{

    nav[role=banner]{
      background-color: $bg-navbar-color;
      border:none;
    }

    .navbar-header{
      border:none;
      width: auto;
    }

    .row.brand-icons{
      float: left;
      margin-top: -2%;
      margin-left: -6%
    }

    .avatar{
      $vlr: 40px;
      background-size: $vlr;
      width: $vlr;
      height: $vlr;
      border-radius: 50%;
      display: block;
    }



    i.fa{
      font-size: 13px;
      color: $links-navbar-color;
    }

    .col-title-icons{
/* // firefox
width: auto;
min-width: 200px;
height: auto;
margin-left: 19%;
margin-top: -15%; */

/* firefox, opera and chrome */
min-width: 200px;
height: auto;
margin-left: 45px;
margin-top: -37px;

}

@media only screen and (min-width : 320px) and (max-width : 350px)  {
  .col-title-icons {
    min-width: 180px;
  }
}

.col-brand{
  margin-top: 4px;
}

.site-title{
a{
    font-family: 'Raleway',arial,sans-serif;
     font-weight: 400;
     font-style: normal;
     color: $links-navbar-color;
     font-size: 20px;
   }
 }

 .social-icons {
  a {
    color: $links-navbar-color;
  }
  margin-top: 3%;
  width: 120%;
li{
  float: left;
  list-style: none;
}
}

#bs-example-navbar-collapse-1.collapse.navbar-collapse{
  ul {
    li {
      a.btn-search {
        width: auto;
        height: auto;
        border-style: none;
        border-radius: 0%;
        background-color: transparent;


        &:hover {
          -moz-animation-name: shake;
          -webkit-animation-name: shake;
          -o-animation-name: shake;
          animation-name: shake;
        }
        &:active {
          background-color: #fff;
        } &:focus{
          background-color: #fff;
        }

        .fa.fa-search {
          font-size: 30px;
        }
      }

    }
  }
}

button[role=menu-responsive]{
  background-color: transparent;
  border: none;
  border-radius: 0px;

  &:hover{
    background-color: transparent; //$primary-color;
    border: none;
    border-radius: 0px;

    .icon-bar{
     background-color: #fff;
   }
 }


 .icon-bar{
  background-color: #505050;
}

}

}

}


/* Max mobile 320px navbar-brand */
@media only screen and (max-width : 320px)  {
  .wrapper.site-header{
    .navbar-brand {
      width: 230px;
      height: auto;

      .site-title {
        font-size: 19px;
        width: 120%;
      }
    }
  }
}


@media only screen and (max-width : 640px)  {
  .navbar-collapse {
       // border-top: 0.1em groove $primary-color;
       border-top: 1px solid rgba(56, 49, 49, 0.5);
    }

    .navbar-collapse.in {
       // border-top: 0.1em groove $primary-color;
        border-top: 1px solid rgba(56, 49, 49, 0.5);
    }

  .navbar-default .navbar-collapse {
    // border-top: 0.1em groove $primary-color;
     border-top: 1px solid rgba(56, 49, 49, 0.5);
  }  

  .navbar-default .navbar-nav > li > a {
    font-family: "Raleway",arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFF;
  }

  .fa-search::before {
     font-size: 30px;
   }

}

}