#modalFeed{
	.modal-dialog{
		.modal-content{
			.modal-header{
				.close{
					margin-top: -10px;
					width: 45px;
					// margin-right: 9px;
					.lr {
				        z-index: 1051;
				        width: 1px;
				        height: 45px;
				        margin-left: 20px;
				        background-color: #222222;
				        -webkit-transform: rotate(45deg);
				        -ms-transform: rotate(45deg);
				        transform: rotate(45deg);

				        .rl {
				          z-index: 1052;
				          width: 1px;
				          height: 45px;
				          background-color: #222222;
				          -webkit-transform: rotate(90deg);
				          -ms-transform: rotate(90deg);
				          transform: rotate(90deg)
				        }
				      }
				}

				span#modal-feed-title{
						font-family: 'Raleway', arial, sans-serif;
			            font-style: normal;
			            font-weight: 400;
			            font-size: 20px;
			        @media only screen and (min-width:320px) and (max-width:640px) {
              			font-size: 17px
            		}
				}
			}
		.wrapper-avatar-feed{
			width: 120px;
			height: 120px;
			margin: 15px auto;
			clear: both;
			
			.feed-link-site{
				img.avatar-modal-feed{
					background-size: 120px;
					width: 120px;
					height: 120px;
					background-repeat: no-repeat;
				}
			}
		}

		.modal-body{
			.row-form-feed{
				form.form-feed{
					border-style: none;
            		-webkit-border-style: none;
            		-o-border-style: none;
            		-moz-border-style: none;
					padding:3px;
					text-align:center;
					border-radius: 0%;

					.feedburner-title-subscribe{
						text-align:center;	
					}
					input.input-feedburner{
					 border-style: none;
		            -webkit-border-style: none;
		            -o-border-style: none;
		            -moz-border-style: none;
		            border-bottom: 1px solid #505050;
		            border-radius: 0%;
		            font-family: 'Raleway', arial, sans-serif;
		            font-style: normal;
		            font-weight: 400;
		            font-size: 35px;
		            width: 100%;
		            height: auto;
		             @media only screen and (min-width:320px) and (max-width:640px) {
              			font-size: 20px
            		}
					}
					a.btn-reader-feed{

					}
				}
			}

		}

		#wrapper-footer--feed{

				p{
					font-family: 'Raleway',arial,sans-serif;
     				font-size: 11px;
     				font-weight: 300;
    				font-style: normal;
				a{
					text-decoration: none; 
				}
			}
		}	
		}
	}
}

#modalFeed.modal.fade.in{
	background-color: rgba(246, 246, 246, 0.6) !important;
}