# Default gitignore files
/**/.DS_Store
/**/*.log
/**/*.lock
.publish
.ftppass
assets/javascripts/*.min.js
*.tar.gz
*.zip
/**/*.*~
# Default gitignore folders
.tmp
.sass-cache
_build
_site
node_modules
.git
.bundle
gh-pages
.grunt
# Default gitignore development
administration
assets/vendor
METAS.txt
