# Default gitignore files
/**/.DS_Store
/**/*.log
/**/*.lock
.ftppass
assets/javascripts/*.js
assets/stylesheets/*.css
*.tar.gz
*.zip
/**/*.*~

# Default gitignore folders
node_modules
.git
.bundle
_site
.publish
.sass-cache
_build
gh-pages
.tmp
.grunt

# Default gitignore development
administration
assets/vendor
METAS.txt
