.sass-cache
_build
_includes
_gist_cache
node_modules
assets/vendor
.git
deploy.sh
.grunt
.ftppass
.bundle
./**/.DS_Store
./**/*.log
*.tar.gz
.tmp
*.zip
*.*~
*.log
assets/css
assets/fonts
assets/javascripts/vendor/
assets/javascripts/scripts.min.js
*.lock
.bowerrc
.jshintrc
