<!-- Pagination -->
  <ul class="pager">


        {% if paginator.previous_page %}
        <!-- Newer -->
        <li class="previous">
          {% if paginator.previous_page == 1 %}

          <a href="{{ site.baseurl | prepend: site.url }}">
            <span class="fa fa-chevron-left"></span>
            {{ site.theme.str_prev }}
          </a>

          {% else %}

          <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}{{ site.paginate_path | replace: ':num', paginator.previous_page }}">
            <span class="fa fa-chevron-left"></span>&nbsp;{{ site.theme.str_prev }}
          </a>
          {% endif %}
        </li>

        {% else %}
        <li class="previous disabled">
          <a href="{{ site.baseurl | prepend: site.url }}"><span class="fa fa-chevron-left">&nbsp;{{ site.theme.str_prev }}</span></a>
        </li>

        {% endif %}




        <li>
          <span class="page_number"> {{ site.theme.str_total_pages }}{{ paginator.page }} {{ site.theme.str_of }} {{ paginator.total_pages }}</span>
        </li>



        {% if paginator.next_page %}
        <!-- Older -->
        <li class="next">

          <a class="link-next" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}{{ site.paginate_path | replace: ':num', paginator.next_page }}">{{ site.theme.str_next }}&nbsp;<span class="fa fa-chevron-right"></span></a>

          </li>
          {% else %}
          <li class="next disabled">
            <a>{{ site.theme.str_next }}&nbsp;<span class="fa fa-chevron-right"></span></a>
          </li>

        {% endif %}

  </ul>