$color_orange: #BD3F15;
$color_orange_rgba: rgba(189,63,21,.5);

/* Background color */
$background-color: #fff !default;

/* Primary color */
$primary-color: $color_orange !default;
$primary-color-hover: #484848 !default;

/* Text color */
$text-color: #333 !default;
$text-color-hover: #DC5C32 !default;

/* Title content color */
$title-color: $color_orange !default;

/* Links color */
$links-color: #1e72f0 !default;
$links-color-hover: #384047 !default;

/* Links Navbar Color */
$links-navbar-color: #fff !default;
$links-navbar-color-hover: #f1f1f1 !default;

/* Background page About - default color */
$bg-title-about: $color_orange!default;

/* adorned-header */
$adorned-header-background: $color_orange !default;
$adorned-header-color: #fff !default;

/* Background navbar color */
$bg-navbar-color: $color_orange !default;

/* Background navbar (Page About ) */
$bg-navbar-color-about: $color_orange !default;

/* Button top color */
$bg-button-top-color: $color_orange !default;
$button-top-color: #fff !default;

/* Color Right and Left body Navbar Static */
$body-right-left-color: #fff !default;

/* Color menu responsive */
$fill-nav-icon: #fff !default;

/* Color Bg Search */
$color-bg-search: lighten($color_orange, 15%) !important;

/* Color border box posts */
$color-border-box-posts: 0.1rem solid lighten($color_orange, 47%);

/* Bg Box posts index */
$bg-color-box-posts: #F6F6F6;

/* Footer background  */
$footer-background: $color_orange;

/* Texts footer */
$footer-text-color: #fff;

/* Portfolio Capitan Bg */
$portfolio-caption-bg: $color_orange_rgba;