$color_white: #fff;
$color_white_rgba: rgba(255,255,255,.5);

/* Background color */
$background-color: #fff !default;

/* Primary color */
$primary-color: #333 !default;
$primary-color-hover: #484848 !default;

/* Text color */
$text-color: #333 !default;
$text-color-hover: #484848 !default;

/* Title content color */
$title-color: #424242 !default;

/* Links color */
$links-color: #1e72f0 !default;
$links-color-hover: #fff !default;

/* Links Navbar Color */
$links-navbar-color: #424242 !default;
$links-navbar-color-hover: #484848 !default;

/* Background page About - default color */
$bg-title-about: #333 !default;

/* adorned-header */
$adorned-header-background: $color_white !default;
$adorned-header-color: #424242 !default;

/* Background navbar color */
$bg-navbar-color: $color_white !default;

/* Background navbar (Page About ) */
$bg-navbar-color-about: #333 !default;

/* Button top color */
$bg-button-top-color: #505050 !default;
$button-top-color: #fff !default;

/* Color Right and Left body Navbar Static */
$body-right-left-color: #fff !default;

/* Color menu responsive */
$fill-nav-icon: #333 !default;

/* Color Bg Search */
$color-bg-search: lighten(#222222, 3%) !important;

/* Color border box posts */
$color-border-box-posts: 0.1rem solid lighten($color_white, 55%);

/* Bg Box posts index */
$bg-color-box-posts: $color_white;

/* Footer background  */
$footer-background: $color_white;

/* Texts footer */
$footer-text-color: #505050;

/* Portfolio Capitan Bg */
$portfolio-caption-bg: $color_white_rgba;