@mixin global($background-color,$bg-navbar-color-about,$body-right-left-color,$links-navbar-color-hover,$links-navbar-color,$primary-color-hover,$bg-navbar-color) {

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a:hover {
    text-decoration: none
  }
}
html {
  background: $background-color;

  a:hover {
    color: #8E8E8E;
    text-decoration: none
  }
}
*:focus {
  outline: 0
}
*:active {
  outline: 0
}
body {
  a {
    outline: none;

    &:active {
      outline: none
    }
    &:visited {
      outline: none
    }
  }
  a:hover {
    color: #8E8E8E;
    text-decoration: none
  }
}
#body-color {
  background-color: $body-right-left-color;

  .container {
    background-color: #fff
  }
}
#navbar-fixed-top {
  margin-top: 6%;

  @media only screen and (min-width:800px) and (max-width:990px) {
    margin-top:9%
  }
  @media only screen and (min-width:320px) and (max-width:420px) {
    margin-top: 13%
  }
}

#navbar-fixed-static {
  margin-top: -4%;
   @media only screen and (min-width:800px) and (max-width:990px) {
    margin-top:-4%
  }
  @media only screen and (min-width:320px) and (max-width:480px) {
    margin-top: -7%
  }
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

#bs-example-navbar-collapse-1.collapse.navbar-collapse {

  li.btn-search-container {
    background-color: $bg-navbar-color !important;
  a.btn-search {
    outline: 0;
    background-color: $bg-navbar-color !important;
    &:hover, &:focus, &:visited {
      outline: 0;
      background-color: $bg-navbar-color !important;
    }
  }
}

  a {
    font-family: 'Raleway', arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $links-navbar-color;

    &:hover {
      color: $links-navbar-color-hover;
    }
  }

a.page-link:hover {
  .fa.fa-circle-o:before {
    content: "\f111";
    color: $links-navbar-color;
  }
}

}

.wrapper.site-header {
  a {
    &:hover {
      text-shadow: 4px 4px 4px #aaa;
      color: $primary-color-hover
    }
    @extend  %outline-none
  }
  #rotate-avatar {
    &:hover {
      @extend %effect_rotate
    }
  }
  #tramer-social-icons {
    i.fa {
      &:hover {
        @extend %effect_fade-down-out_3s
      }
    }
  }
}
h2, li {
  a {
    @extend  %outline-none
  }
}


#color-navbar {
  background-color: $bg-navbar-color-about;
  margin-bottom: 0;
  color: #fff;
  a,.fa {
    color: #fff;
  }

  #bs-example-navbar-collapse-1.collapse.navbar-collapse {

    li.btn-search-container {
      background-color: $bg-navbar-color-about !important;
    }

    a.btn-search {
      outline: 0;
      background-color: $bg-navbar-color-about !important;
      &:hover, &:focus, &:visited {
        outline: 0;
        background-color: $bg-navbar-color-about !important;
      }
    }
    a {
      font-family: 'Raleway', arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    a.page-link {

      &:hover {
        .fa.fa-circle-o:before {
          content: "\f111";
          color: #fff;
        }
      }

       &:visited {
        .fa.fa-circle-o:before {
          content: "\f111";
          color: #fff;
        }
      }

       &:active {
        .fa.fa-circle-o:before {
          content: "\f111";
          color: #fff;
        }
      }

    }

  }

}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

}