/**
 * Syntax highlighting styles
 */
.highlight {


 // Personal by William C. Canin - Begin
 @extend %vertical-rhythm;

// height: 300px;
// overflow: auto;


 pre {
    display: block;
    padding: 9.5px;
    margin: 0px 0px 10px;
    font-size: 14px;
    line-height: 2.2;
    word-break: break-all;
    word-wrap: break-word;
    color: #fff;
    background-color: #202020;
    border: 1px solid #202020;
    border-radius: 10px;
    font-family: "Raleway", arial, sans-serif;
    font-weight: 500;
        // font-style: normal;
    }


    code {
        color: #fff;
        font-family: "Raleway", arial, sans-serif;
        font-weight: 500;
            // font-style: normal;
        }

    // Personal by William C. Canin   - End



.c { color: #808080; font-style: italic} /* Comment */
 .err { color: #e2e2e5} /* Error */
 .g { color: #e2e2e5} /* Generic */
 .k { color: #7e8aa2} /* Keyword */
 .l { color: #e2e2e5} /* Literal */
 .n { color: #e2e2e5} /* Name */
 .o { color: #e2e2e5} /* Operator */
 .x { color: #e2e2e5} /* Other */
 .p { color: #e2e2e5} /* Punctuation */
 .cm { color: #808080; font-style: italic} /* Comment.Multiline */
 .cp { color: #faf4c6} /* Comment.Preproc */
 .c1 { color: #808080; font-style: italic} /* Comment.Single */
 .cs { color: #808080; font-style: italic} /* Comment.Special */
 .gd { color: #e2e2e5} /* Generic.Deleted */
 .ge { color: #e2e2e5} /* Generic.Emph */
 .gr { color: #e2e2e5} /* Generic.Error */
 .gh { color: #f6f3e8; font-weight: bold} /* Generic.Heading */
 .gi { color: #e2e2e5} /* Generic.Inserted */
 .go { color: #808080; background-color: #303030 } /* Generic.Output */
 .gp { color: #e2e2e5} /* Generic.Prompt */
 .gs { color: #e2e2e5} /* Generic.Strong */
 .gu { color: #f6f3e8; font-weight: bold} /* Generic.Subheading */
 .gt { color: #e2e2e5} /* Generic.Traceback */
 .kc { color: #7e8aa2} /* Keyword.Constant */
 .kd { color: #7e8aa2} /* Keyword.Declaration */
 .kn { color: #7e8aa2} /* Keyword.Namespace */
 .kp { color: #7e8aa2} /* Keyword.Pseudo */
 .kr { color: #7e8aa2} /* Keyword.Reserved */
 .kt { color: #7e8aa2} /* Keyword.Type */
 .ld { color: #e2e2e5} /* Literal.Date */
 .m { color: #ff9800} /* Literal.Number */
 .s { color: #b1d631; font-style: italic} /* Literal.String */
 .na { color: #ffffff; font-weight: bold} /* Name.Attribute */
 .nb { color: #e2e2e5} /* Name.Builtin */
 .nc { color: #e2e2e5} /* Name.Class */
 .no { color: #ff9800} /* Name.Constant */
 .nd { color: #e2e2e5} /* Name.Decorator */
 .ni { color: #ff9800} /* Name.Entity */
 .ne { color: #e2e2e5} /* Name.Exception */
 .nf { color: #ffffff; font-weight: bold} /* Name.Function */
 .nl { color: #e2e2e5} /* Name.Label */
 .nn { color: #e2e2e5} /* Name.Namespace */
 .nx { color: #e2e2e5} /* Name.Other */
 .py { color: #e2e2e5} /* Name.Property */
 .nt { color: #7e8aa2} /* Name.Tag */
 .nv { color: #b1d631} /* Name.Variable */
 .ow { color: #e2e2e5} /* Operator.Word */
 .w { color: #e2e2e5} /* Text.Whitespace */
 .mf { color: #ff9800} /* Literal.Number.Float */
 .mh { color: #ff9800} /* Literal.Number.Hex */
 .mi { color: #ff9800} /* Literal.Number.Integer */
 .mo { color: #ff9800} /* Literal.Number.Oct */
 .sb { color: #b1d631; font-style: italic} /* Literal.String.Backtick */
 .sc { color: #b1d631; font-style: italic} /* Literal.String.Char */
 .sd { color: #b1d631; font-style: italic} /* Literal.String.Doc */
 .s2 { color: #b1d631; font-style: italic} /* Literal.String.Double */
 .se { color: #b1d631; font-style: italic} /* Literal.String.Escape */
 .sh { color: #b1d631; font-style: italic} /* Literal.String.Heredoc */
 .si { color: #b1d631; font-style: italic} /* Literal.String.Interpol */
 .sx { color: #b1d631; font-style: italic} /* Literal.String.Other */
 .sr { color: #b1d631; font-style: italic} /* Literal.String.Regex */
 .s1 { color: #b1d631; font-style: italic} /* Literal.String.Single */
 .ss { color: #b1d631; font-style: italic} /* Literal.String.Symbol */
 .bp { color: #e2e2e5} /* Name.Builtin.Pseudo */
 .vc { color: #b1d631} /* Name.Variable.Class */
 .vg { color: #b1d631} /* Name.Variable.Global */
 .vi { color: #b1d631} /* Name.Variable.Instance */
 .il { color: #ff9800} /* Literal.Number.Integer.Long */

}

