$theme-color: gray;


// @mixin theme($theme:left) {
// @if $theme-color == gray {


/* Background color */
$background-color: #fff;

/* Primary color */
$primary-color: #384047;
$primary-color-hover: #414950;

/* Text color */
$text-color: #384047;
$text-color-hover: #414950;

/* Title content color */
$title-color: #384047;

/* Links color */
$links-color: #1e72f0;
$links-color-hover: #384047;

/* Links Navbar Color */
$links-navbar-color: #fff;
$links-navbar-color-hover: #f1f1f1;

/* Background page About - default color */
$bg-title-about: #384047;

/* Page-heading */
$page-heading-background: #384047;
$page-heading-color: #fff;

/* Background navbar color */
$bg-navbar-color: #384047;

/* Background navbar (Page About ) */
$bg-navbar-color-about: #384047;

/* Button top color */
$bg-button-top-color: #384047;
$button-top-color: #fff;

/* Color Right and Left body Navbar Static */
$body-right-left-color: #fff;

// }

    // } @else if $theme-color == white {

    // } @else if $theme-color == black {

    // } @else if $theme-color == blue {

    // }

// }

// @include theme("gray");