.site-footer {
  width: auto;
  color: lighten($footer-text-color, 10%);
  margin: 0 auto;
  clear: both;
 padding: 5% 2% 2%;
 border: 1px solid transparent;
 border-top: none;
 background-color: $footer-background;
.col-sm-3{
    font-family: $default-font;
    font-size: 12px;
    text-align: center;
    a {
          color: $footer-text-color;
          text-decoration: underline;

          &:hover {
              color: $footer-text-color;
              text-decoration: none;
          }
    }
    .fa.fa-heart {
      font-size: 10px;
      color: #C62C2C;
    }
}

}