.site-footer {
  width: auto;
  color: lighten($footer-text-color, 10%);
  margin: 0 auto;
  clear: both;
  padding: 2%;
  border: 1px solid transparent;
  @if $to_color == "white" or $to_color == "light" {
  border-top: 0.1rem solid #E9E9E9;
  } @else {
  border-top: 0.1rem solid $primary-color;
  }
  background-color: $footer-background;
.col-sm-3{
    font-family: $default-font;
    font-size: 12px;
    text-align: center;
    a {
          color: $footer-text-color;
          text-decoration: underline;

          &:hover {
              color: $footer-text-color;
              text-decoration: none;
          }
    }
    .fa.fa-heart {
      font-size: 10px;
      color: #C62C2C;
    }
}

}