.search-modal {
  overflow: auto;

  .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    background-clip: border-box;
    background-color: $color-bg-search;
    -webkit-box-shadow: none;
    box-shadow: none;
    // transition: all 0.25s ease 0s;

    .close-modal {
      position: absolute;
      top: 25px;
      right: 25px;
      width: 75px;
      height: 75px;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        opacity: .3
      }
      .lr {
        z-index: 1051;
        width: 2px;
        height: 75px;
        margin-left: 35px;
        background-color: #fff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        color: #000;

        .rl {
          z-index: 1052;
          width: 2px;
          height: 75px;
          background-color: #fff;
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          color: #000;
        }
      }
    }
    .search-container {
      padding: 2% 5%;

      .title-search{
        margin-bottom: 100px;
        text-align: center;

        h3{
          font-size: 15px;
          font-family: $default-font;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          color: #fff;
        }
      }

      .field-search {
        width: 100%;
        height: auto;
        margin-bottom: 1%;

        .col-lg-12 {
          width: 100%;

          .search-input {
            border-style: none;
            -webkit-border-style: none;
            -o-border-style: none;
            -moz-border-style: none;
            border-bottom: 1px solid #fff;
            border-radius: 0%;
            font-family: $default-font;
            font-style: normal;
            font-weight: 400;
            font-size: 45px;
            width: 100%;
            height: auto;
            background-color: transparent;
            color: #fff;

            @media only screen and (min-width:320px) and (max-width:640px) {
              font-size: 22px
            }
          }

        }
      }
      .results-search {
        .col-lg-12 {
          .results-container {
            font-family: $default-font;
            font-style: normal;
            font-weight: 500;
            font-size: 35px;

            @media only screen and (min-width:320px) and (max-width:640px) {
              font-weight: 700;
              font-size: 22px
            }
            li {
              list-style: none;
              padding: 1% 0%;

              @media only screen and (min-width:320px) and (max-width:640px) {
                padding: 2% 0%;
                border-bottom: 1px solid #fff;
              }
              a {
                 color: #fff;

                &:hover {
                  text-shadow: 4px 4px 4px $primary-color;
                  color: #fff
                }
              }
            }
          }
        }

        h3 {
            font-family: $default-font;
            font-style: normal;
            font-weight: 300;
            font-size: 19px;
            color: #C3C3C3;
            @media only screen and (min-width:320px) and (max-width:640px) {
              font-size: 15px
            }
          }
      }
    }
  }
}

#searchModal.modal.fade.in{
  background-color: $color-bg-search;
}