.wrapper.under-maintenance{
  padding: 3% 0%;
  .container{
    .row{
      .btn-primary{
        margin-top: 20px;
      }
    }
    .row{
      .fa-wrench{
        font-size: 60px;
        text-align: center;
      }
    }
    .row{
      font-family: $default-font;
        h1{
          @extend %font-title;
          color: #333;
        }
        h3{}
      .row{
        .um-social-icons{
          width: 330px;
          @media (min-width: 320px)and (max-width: 360px) {
            width: 300px;
          }
          margin: 0 auto;
          clear: both;
          padding: 1%;
          margin-bottom: 10px;
          #rss{
            display: none;
          }
          li{
            list-style: none;
            float: left;
            width: 25px;
            @media (min-width: 320px)and (max-width: 360px) {
              width: 22px;
            }
            margin: 5px;
          }
          a{
            font-size: 25px;
            color: #323232;
            @media (min-width: 320px)and (max-width: 360px) {
              font-size: 22px;
            }
            &:hover{
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}