$color-primary-sn-modal: #fff;
$color-secondary-sn-modal: #000;

@mixin followme() {
/* Effects Hovers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hvr-bounce-to-right-sn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right-sn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-primary-sn-modal;
  // border-radius: 20%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right-sn:hover, .hvr-bounce-to-right-sn:focus, .hvr-bounce-to-right-sn:active {
  color: white;
}
.hvr-bounce-to-right-sn:hover:before, .hvr-bounce-to-right-sn:focus:before, .hvr-bounce-to-right-sn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}





/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Mobile Small */
@media (min-width: 320px) {

  $background-color-modal: rgba(0, 0, 0, 0.5) !important;
  $width-box-icons: 280px;
  $border-radius-sn-wrapper: 0%;
  $font-size-icon-sn: 40px;

  .hvr-bounce-to-right-sn:before {
    border-radius: 0%;
  }

  #followme-rss{
    display: none;
  }

  .fm-modal{
    overflow: auto;
    .modal-content{
      padding: 100px 0;
      min-height: 100%;
      border: 0;
      border-radius: 0;
      background-clip: border-box;
      background-color: $background-color-modal;
      box-shadow: none;
      .container{
        .close-modal{
          position: absolute;
          width: 40px;
          height: 40px;
          top: 25px;
          right: 25px;
          background-color: transparent;
          button{
            background-color: transparent;
            border: 0px;
            cursor: pointer;
            &:hover, &:active, &:visited, &:focus, &:active{
                  outline:none;
                  border: none;
            }
            &:hover{i{color: #CC3131;}}
            i{
              font-size: 40px;
              color: #fff;
              text-shadow: 0.4rem 0.1rem 0.1rem #000;
            }
          }
        }
        .fm-content-sn{
          .sn{
            width: $width-box-icons;
            margin: 0 auto;
            clear: both;
            .columns{
              padding: 10px 45px;
              border: 3px solid #fff;
              // border-radius: #fff;
              width: 70px;
              height: 70px;
              padding: 20px;
              margin: 10px;
                .link-icons{
                  .icons-sn{
                    text-align: center;
                    font-size: $font-size-icon-sn;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 12px 5px;
                    color: #fff;
                  }
                }
               &:hover{
                border: 3px solid $color-primary-sn-modal;
                .icons-sn{
                  color: $color-secondary-sn-modal;
                }
              }
            }
          }
        }
      }
    }
  }

  .modal.fade.in{
      background-color: $background-color-modal;
  }

}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {

  $background-color-modal: rgba(0, 0, 0, 0.5) !important;
  $width-box-icons: 768px;
  $border-radius-sn-wrapper: 25%;
  $font-size-icon-sn: 60px;

  .hvr-bounce-to-right-sn:before {
    // border-radius: 12%;
  }

  .fm-modal{
    .modal-content{
      .container{
        .close-modal{
          width: 80px;
          height: 80px;
          button{
            i{
              font-size: 80px;
            }
          }
        }
        .fm-content-sn{
          .sn{
            width: $width-box-icons;
            .columns{
              width: 90px;
              height: 90px;
                .link-icons{
                  .icons-sn{
                    font-size: $font-size-icon-sn;
                  }
                }
            }
          }
        }
      }
    }
  }

  .modal.fade.in{
      background-color: $background-color-modal;
  }

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

}