@mixin post($default-font,
  $primary-color,
  $author-text-color,
  $post-meta-color) {
  article.post{
    .row{
      #navbar-fixed-top{
        @media (min-width:320px) and (max-width:768px) {
          margin-top: 15%;
        }
      }
      .wrapper{
        padding: 7% 15% 7%;
        @media (min-width:320px) and (max-width:670px) {
          padding: 5% 10% 7% 7%;
        }
        @media (min-width:768px) and (max-width:980px) {
          padding: 9% 12% 7%;
        }
        @media (min-width:1000px) and (max-width:1280px) {
          padding: 5% 9% 9%;
        }
        .banner-post{
          margin-bottom: 40px;
        }
        .post-header{
          .post-title{
            @extend %font-title;
            text-align: center;
            margin-bottom: 7%;
            margin-top: 7%;
            @media (min-width: 640px) and (max-width: 768px) {
              font-size: 4.5rem;
            }
          }
          .post-meta{
            @media only screen and (min-width:320px) and (max-width:670px) {
              text-align: center;
              float: none;
            }
            font-family: $default-font;
            font-weight: 400;
            font-style: normal;
            color: $post-meta-color;
            text-transform: uppercase;
            text-align: center;
            .row{
              .col-sm-4{
                .fa-calendar{

                }
                time{}
              }
              .col-sm-4{
                .post-number{
                  text-align: center;
                  font-family: $default-font;
                  font-weight: 400;
                  font-size: 15px;
                  font-style: normal;
                  color: $post-meta-color;
                  top: 0;
                  text-transform: uppercase;
                }
              }
              .col-sm-4{
                #smooth-scrolling{
                  .comment-post{
                    top: 0;
                    text-align: center;
                    @media only screen and (min-width:320px) and (max-width:670px) {
                      float: none;
                      text-align: center;
                      margin-top: 10px;
                    }
                    i{
                      margin-right: 8px;
                    }
                    .fa-comments-o{
                      font-size: 20px;
                      color: $post-meta-color;
                    }
                    a{
                      font-family: $default-font;
                      font-weight: 400;
                      font-style: normal;
                      font-size: 16px;
                      text-decoration: underline;
                      text-transform: none;
                      color: $primary-color;
                      &:focus,&:visited{
                        outline: 0;
                      }
                      &:hover {
                        text-decoration: none;
                      }
                    }
                  }
                }
              }
            }
          }
          .reading-time{
            margin: 20px 0px 20px 0px;
            font-family: $default-font;
            font-weight: 400;
            font-size: 22px;
            font-style: normal;
            color: $post-meta-color;
            .icon-reading-time{
              margin-right: 10px;
            }
          }
        }
        .post-content{
          @extend %font-content;
        }
        .post-bottom{
          .edit-me{
            outline: none;
            font-size: 15px;
            &:hover,&:active,&:focus{
              outline: none;
            }
            .fa-github{
              font-size: 20px;
            }
            .fa-external-link{
              font-size: 15px;
            }
          }
          .wrapper-author{
            margin-top:  80px;
            padding: 2%;
            background-color: $primary-color;
            color: $author-text-color;
            .col-sm-2{
              .image-author{
                margin-top: 40px;
                 @media only screen and (min-width:320px) and (max-width:640px) {
                  width: 95px;
                  height: 95px;
                  margin: 0 auto;
                  clear: both;
                 }
                .avatar-about{
                  border-radius: 100%;
                  width: 110px;
                  height: 110px;
                  background-size: 110px;
                  border: 1px solid rgba(0,0,0,0.2);
                  @media only screen and (min-width:320px) and (max-width:640px) {
                    width: 95px;
                    height: 95px;
                    background-size: 95px;
                  }
                }
              }
            }
            .col-lg-10{
              @media only screen and (min-width:320px) and (max-width:640px) {
                text-align: center;
              }
              .post-by-title{
                font-family: $default-font;
                font-weight: 300;
                font-style: normal;
                font-size: 15px;
                @media only screen and (min-width:320px) and (max-width:640px) {
                  margin-top: 20px;
                }
              }
              .name-author-post{
                font-family: $default-font;
                font-weight: 700;
                font-style: normal;
                text-transform: uppercase;
                span{}
              }
              .description{
                font-family: $default-font;
                font-weight: 300;
                font-style: normal;
                font-size: 22px;
                a{
                  color: $author-text-color;
                  text-decoration: underline;
                  &:hover{
                    text-decoration: none;
                  }
                }
              }
            }
          }
          // .wrapper-go-top{
          //   width:120px;
          //   border-radius:50%;
          //   margin: 8% auto;
          //   a.btn-go-top{
          //     background-color: $primary-color;
          //     color: #fff;
          //     font-family: $default-font;
          //     font-weight: 300;
          //     font-size: 2rem;
          //     width: auto;
          //     border-color: $primary-color;
          //     &:hover{
          //       background-color: #4D4D4D;
          //     }
          //     i.fa-chevron-up{
          //       font-size: 2rem;
          //     }
          //   }
          // }
          .comments-title,.nocomments{
            font-family: $default-font;
            font-size: 30px;
            font-weight: 300;
            font-style: normal;
            text-align: center;
            color: $primary-color;
            margin-top: 150px;
            @media only screen and (min-width:320px) and (max-width:640px) {
              margin-top: 100px;
            }
            .fa-comment{
              color: $primary-color;
            }
          }
        }
      }
    }
  }

}