@mixin about($bg-title-about, $links-navbar-color){
  .wrapper.about{
    #post-header-static{
      background-color: $bg-title-about;
      width: 100%;
      min-height: 100vh - 20vh;
    }
    /* Header About */
    header.post-header{
      background-color: $bg-title-about;
      width: 100%;
      min-height: 100vh - 5vh;
      // padding-bottom: 30px;
      @media only screen and (min-width:320px) and (max-width: 480px){
        min-height: 100vh - 6vh;
      }
      @media only screen and (min-width:480px) and (max-width: 640px){
        min-height: 100vh - 8vh;
      }
      @media only screen and (min-width:800px) and (max-width:980px) {
        min-height: 100vh - 3vh;
      }
      .box{
        $image-about-bottom: 10px;
        $width-all: 280px;
        position: absolute;
        bottom: $image-about-bottom*4;
        left: 5%;
        right: 5%;
        z-index: 0;
        width: 280px;
        height: 300px;
        margin: 0 auto;
        clear: both;
        h1.title{
          @extend  %font-title;
          color: #fff !important;
          text-align: center;
          margin-bottom: 35px;
        }
        img.avatar-about{
          $avatar-about-width: 150px;
          width: $avatar-about-width;
          height: $avatar-about-width;
          background-size: $avatar-about-width;
          border-radius: 100%;
          margin-left: $width-all/2- $avatar-about-width/2;
          margin-bottom: 20px;
        }
        #smooth-scrolling{
          width: auto;
          height: auto;
          a.arrow{
            width: 200px;
            height: 70px;
            color: $links-navbar-color;
            &:active,&:focus,&:visited{
              text-decoration: none;
              outline: none;
            }
            span.fa-chevron-down {
              width: 100px;
              height: 70px;
              color: #fff;
              $font-size-arrow: 30px;
              font-size: $font-size-arrow;
              $width-all: 280px;
              margin-left: $width-all/2 - $font-size-arrow/2;
             -moz-animation: pulse 2.00s linear infinite;
             -o-animation: pulse 2.00s linear infinite;
             -webkit-animation: pulse 2.00s linear infinite;
              animation: pulse 2.00s linear infinite;
            }
          }
        }
      }
    }

  /* Target Arrow */
    .target.arrow{
      $width-arrow: 60px;
      $width-wrapper: 240px;
      width: $width-wrapper;
      margin-bottom: 20px;
      height: auto;
      margin: 0 auto;
      clear: both;
      .down{
        margin-left: $width-wrapper/2 - $width-arrow/2;
      }
      .down:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        width: $width-arrow;
        height: 0;
        border-left: $width-arrow/2 solid transparent;
        border-right: $width-arrow/2 solid transparent;
        border-top: $width-arrow/2 solid $bg-title-about;
      }
    }

  /* Content About */
    .row{
      .content{
        padding: 2% 15% 15%;
        @media only screen and (min-width:768px) and (max-width:1024px) {
          padding: 2% 7% 7%
        }
        @media only screen and (min-width:320px) and (max-width:670px) {
          padding: 16% 7% 7%
        }
        @extend  %font-content;

        #stop-parallax-about {
          @media only screen and (min-width:320px) and (max-width:640px) {
            padding-bottom: 100px;
          }
          @media only screen and (min-width:768px) {
            padding-bottom: 97px;
          }
        }
        img.img-cover{
           margin-bottom: 80px;
        }
      }
    }
  }

}