/* Vide Youtube */
.video-posts {
    @media (min-width: 320px) {
        width: auto;
        height: auto;
        margin: 0 auto;
        clear: both;
        background-color: transparent;
        padding: 0%;
        iframe {
            width: 280px;
            height: auto;
            margin: 0 auto;
            clear: both;
        }
    }
    @media (min-width: 360px) {
       iframe {
        width: 310px;
       }
    }
    @media (min-width: 480px) {
        padding: 8% 13% 8%;
       iframe {
        width: 420px;
       }
    }
    @media (min-width: 640px) {
        padding: 2% 5% 2%;
       iframe {
        width: 500px;
        height: 470px;
       }
    }
    @media (min-width: 768px) {
      padding: 1% 3% 1%;
       iframe {
        width: 600px;
        height: 400px;
       }
    }
    @media (min-width: 800px) {
        padding: 5%;
    }
    @media (min-width: 980px) {
        padding: 4% 6% 4%;
        iframe {
            width: 700px;
            height: 530px;
            margin: 0 auto;
            clear: both;
        }
    }
}

/* Blockquote */
blockquote{
    border: none;
    border-left: 0.7rem solid rgba(45, 79, 37,0.4);
    background-color: #f1f1f1;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin: 20px 0px;
}

/* Left, Right and Center the image alignment in markdown */
    @media only screen and (min-width:320px)and(max-width: 479px) {
        .basic-alignment {
            width: 120px;
            height: 120px;
            &.left, &.right, &.center  { display:block; }
        }
    }

    @media only screen and (min-width:480px)and(max-width: 640px) {
        .basic-alignment {
            width: 130px;
            height: 130px;
            &.left { float: left; margin-right: 1.5em; }
            &.right { float: right; margin-left: 1.5em; }
            &.center { display:block; margin: 0 auto 1.5em; }
            &.left, &.right { margin-bottom: .8em; }
        }
    }

    @media only screen and (min-width:767px) {
        .basic-alignment {
            width: 180px;
            height: 180px;

            &.left { float: left; margin-right: 1.5em; }
            &.right { float: right; margin-left: 1.5em; }
            &.center { display:block; margin: 0 auto 1.5em; }
            &.left, &.right { margin-bottom: .8em; }
        }
    }