@mixin index($page-heading-color,$page-heading-background,$primary-color,$title-color,$text-color-hover) {
.home {
  .wrapper {

    .page-heading {
      text-align: center;
      font-family: 'Raleway', arial, sans-serif;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      color: $page-heading-color;
      background-color: $page-heading-background;
      padding: 6rem;

      img{
        margin: 0 auto;
        clear: both;
      }
    }

    // img.img-responsive {
    //   background-color: $page-heading-background;
    // }

    .wrapper.arrow-page-heading{
      $wrapper-arrow-page-heading-width: 150px;
      $width-arrow-page-heading: 60px;
      width: $wrapper-arrow-page-heading-width;
      height: auto;
      margin: 0 auto;
      clear: both;
      margin-top: -10px;

      .arrow-page-heading{
        margin-left: $wrapper-arrow-page-heading-width/2 - $width-arrow-page-heading/2;
      }

      .arrow-page-heading:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        width: $width-arrow-page-heading;
        height: 0;
        border-left: $width-arrow-page-heading/2 solid transparent;
        border-right: $width-arrow-page-heading/2 solid transparent;
        border-top: $width-arrow-page-heading/2 solid $page-heading-background;
      }
    }
    ul.post-list {
      .wrapper.posts {
        @media only screen and (min-width:768px) and (max-width:1024px) {
          padding: 7% 5% 2%
        }
        @media only screen and (min-width:320px) and (max-width:670px) {
          padding: 7% 5% 2%
        }
        padding:7% 15% 2%;

        li.calendar-post-title {
          list-style: none;

          span.post-meta {
            font-family: 'Raleway', arial, sans-serif;
            font-weight: 400;
            font-style: normal;
            color: $primary-color;
            text-transform: uppercase;

            span.fa.fa-calendar {
              padding-right: 5px
            }
          }
          h2 {
            font-family: 'Raleway', arial, sans-serif;
            font-size: 55px;
            font-weight: 700;
            font-style: normal;
            color: $title-color;
            text-align: center;

            @media only screen and (min-width:320px) and (max-width:640px) {
              font-weight: 700;
              line-height: 32px
            }
            a.post-link {
              color: $title-color;

              @media only screen and (min-width:320px) and (max-width:640px) {
                font-size: 30px
              }
              &:hover {
                text-shadow: 4px 4px 4px #aaa;
                color: $text-color-hover;
              }
            }
          }
        }
        li.excerpt {
          list-style: none;

        img {
          display: none;
        }

          p {
            font-family: 'Raleway', arial, sans-serif;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            color: $text-color;
            display: block;
          }
          a.btn {
          }
        }
      }
    }
  }
}

} // end mixin