@mixin post($primary-color) {

.row.post {
  #wrapper-post-fixed.wrapper.post {
    margin-top: 15%
  }
  .wrapper.post {
    padding: 7% 15% 7%;

    @media only screen and (min-width:768px) and (max-width:1024px) {
      padding: 5% 5% 7%
    }
    @media only screen and (min-width:320px) and (max-width:670px) {
      padding: 7% 9% 2%
    }

    img.img-responsive {
    margin-bottom: 40px;
    }

    header.post-header {

      .post-number {
        text-align: center;
        font-family: 'Raleway', arial, sans-serif;
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
        color: $primary-color;
        top: 0;
        text-transform: uppercase;
      }

      #parallax {
        .comment-post {
          float: right;
          @media only screen and (min-width:320px) and (max-width:670px) {
            float: none;
            text-align: center;
            margin-top: 10px;
          }
          font-family: 'Raleway', arial, sans-serif;
          font-weight: 400;
          font-style: normal;
          color: $primary-color;
          top: 0;
          text-transform: uppercase;

          a{
              width: 20px;
              height: 20px;

              &:focus{
                outline: 0;
              }
              &:visited {
                outline: 0;
              }
          }

          .fa.fa-comments-o {
            font-size: 20px;
            color: $primary-color
          }
        }
      }
      h1.post-title {
        @extend %font-title;
        text-align: center;
        margin-bottom: 7%;
        margin-top: 7%;
      }
      p.post-meta {
        @media only screen and (min-width:320px) and (max-width:670px) {
          text-align: center;
          float: none;
        }
        font-family: 'Raleway', arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $primary-color;
        text-transform: uppercase
      }
    }
    article.post-content {

      .reading-time{
        margin: 20px 0px 20px 0px;
        font-family: 'Raleway', arial, sans-serif;
        font-weight: 400;
        font-size: 22px;
        font-style: normal;
        color: $primary-color;
      }

      .wrapper.edit-this-post {
        $width-all: 200px;
        @media only screen and (min-width:320px) and (max-width:360px) {
          width: $width-all;
          height: auto;
          margin: 0 auto;
          clear: both;
        }
        a.edit-this-post {
          margin-top: 10px;
          @media only screen and (min-width:320px) and (max-width:360px) {
            width: 130px;
            margin-left: ($width-all / 2) - (130px/2);
          }
          @media only screen and (min-width:360px) {
              float: right;
          }
          background-color: #DF5151;
          padding: 10px 15px;
          color: #fff;
          text-decoration: none;
          &:hover {
            background-color: #DF6666;
            outline: 0;
            text-decoration: none;
          }
          &:focus {
            outline: 0;
          }
          &:visited {
            outline: 0;
          }
          i.fa.fa-github {
            margin-right: 4px;
            color: #fff;
          }
        }
      }
      @extend %font-content;

      .title-shares {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        color: $primary-color;
        margin-top: 90px;
          .fa-share-alt {
            font-size: 40px;
          }
      }

      .row.shares {
        width: 77%;
        margin: 0 auto;
        clear: both;

        .col-sm-3 {
          width: auto;
          @media only screen and (min-width:320px) and (max-width:640px) {
            text-align: center;
          }
        }

        .sh-facebook{
          margin-top: -8px;
        @media only screen and (min-width:320px) and (max-width:640px) {
          margin-bottom: 8px;
        }
        }

        .sh-google {
          @media only screen and (min-width:320px) and (max-width:500px) {
            .wm{
              width:250px;
              margin: 0 auto;
              clear: both;
            }
          }
        }
      }

      p {
        line-height: 1.7em
      }
      .video-posts {
        width: auto;
        height: auto;
        margin: 0 auto;
        clear: both;

        iframe {
          width: 560px;
          height: 420px;
          margin: 0 auto;
          clear: both;

          @media only screen and (min-width:320px) and (max-width:640px) {
            width: 280px;
            height: 210px;
            margin: 0 auto;
            clear: both
          }
        }
      }
      h1, h2, h3 {
        font-family: 'Raleway', arial, sans-serif;
        font-weight: 700;
        font-style: normal
      }

      .row.wrapper-author {
        margin-top:  80px;
        .col-sm-2 {
          .image-author{
            margin-top: 40px;
               @media only screen and (min-width:320px) and (max-width:640px) {
                width: 95px;
                height: 95px;
                margin: 0 auto;
                clear: both;
               }
            .avatar-about{
              border-radius: 100%;
              width: 110px;
              height: 110px;
              background-size: 110px;

            @media only screen and (min-width:320px) and (max-width:640px) {
              width: 95px;
              height: 95px;
              background-size: 95px;

            }

            }
          }
        }
        .col-lg-10{
          p.post-by-title{
            font-family: 'Raleway',arial,sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 15px;
            @media only screen and (min-width:320px) and (max-width:640px) {
              margin-top: 20px;
            }
          }
          /* margin-left: -8px; */
          @media only screen and (min-width:320px) and (max-width:640px) {
            text-align: center;
          }
          .name-author-post {
              font-family: 'Raleway',arial,sans-serif;
              font-weight: 500;
              font-style: normal;
           }
          .description {
              font-family: 'Raleway',arial,sans-serif;
              font-weight: 200;
              font-style: normal;
              font-size: 18px;
          }
        }
      }


      h1.comments-title, h1.nocomments  {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        color: $primary-color;
        margin-top: 150px;
          @media only screen and (min-width:320px) and (max-width:640px) {
             margin-top: 100px;
          }

        a.fa.fa-comments-o {
          color: $primary-color;
        }
      }


    }
  }
}

}