{% if site.theme.footer_text %}
<footer class="row site-footer">
    <div class="col-sm-3 str_text1">
        "{{ site.theme.footer_text.str_text1 }}"
    </div>
    <div class="col-sm-3 text-center str_text2">{{ site.theme.footer_text.str_text2 }}
        <a href="{{ site.theme.footer_text.maintence1_link_by }}" target="_blank">{{ site.theme.footer_text.maintence1_text_by }}</a> {% if site.language == "portuguese" %} e {% else%} and {% endif %}
        <a href="{{ site.theme.footer_text.maintence2_link_by }}" target="_blank">{{ site.theme.footer_text.maintence2_text_by }}</a>
    </div>
    <div class="col-sm-3 text-center str_text3">{{ site.theme.footer_text.str_text3 }}
        <a href="{{ site.theme.footer_text.design_layout_link_by }}" target="_blank">{{ site.theme.footer_text.design_layout_text_by }}</a> {% if site.language == "portuguese" %} com {% else%} with {% endif %} <span class="fa fa-heart"></span>
    </div>
    <div class="col-sm-3 text-center str_text4">
        <span class="fa fa-copyright"></span>&nbsp;{{ site.theme.footer_text.copyright_initial_year }} - {{ site.time | date: '%Y' }}
    </div>
</footer>
{% endif %}




