 <!-- Search Modal -->
 {% for post in site.categories.blog %}
 <div class="search-modal modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>

            <div class="search-container">
                <div class="field-search row">

                    <div class="col-lg-12">
                        {% for post in site.categories['blog'] %}
                            {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
                        {% endfor %}
                        {% if site.language == "portuguese" %}
                            <input class="search-input" type="text" id="search-input" value="" placeholder="Pesquisar em {{ post_count }} artigo(s)">
                        {% else %}
                            <input class="search-input" type="text" id="search-input" value="" placeholder="Search in {{ post_count }} article(s)">
                        {% endif %}

                    </div>
                </div>
                <div class="results-search row">
                    <h3>{{ site.theme.str_title_result_search }}</h3>
                    <div class="col-lg-12">
                        <ul class="results-container" id="results-container"></ul>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endfor %}