<div class="wrapper modal-portfolio">
    {% for project in site.categories['portfolio'] %}
        <div class="portfolio-modal modal fade" id="portfolioModal-{{ project.modal_id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
            <div class="modal-body">
                <div class="row">
                    {% if project.dimension_image == "big" %}
                    <div class="col-lg-10 col-lg-offset-1 box-project">
                    {% elsif project.dimension_image == "medium" %}
                    <div class="col-lg-8 col-lg-offset-2 box-project">
                    {% elsif project.dimension_image == "small" %}
                    <div class="col-lg-6 col-lg-offset-3 box-project">
                    {% else %}
                    <div class="col-lg-8 col-lg-offset-2 box-project">
                    {% endif %}
                        <h2>{{ project.title }}</h2>
                        <h4 class="portfolio-description"></h4>
                        <hr class="star-primary">
                        <img src="{{ "/assets/images/portfolio" | prepend: site.baseurl | prepend: site.url }}/{{ project.img }}" class="img-responsive img-centered img-project" alt="{{ project.alt }}">
                        <ul class="list-inline item-details">
                            {% if project.show_client == "yes" %}
                                <li>
                                    {% if site.language == "english" %}
                                        Designed to:
                                    {% else %}
                                        Feito para:
                                    {% endif %}
                                    <strong>
                                        <a href="{{ project.url_client }}" target="_blank">
                                            {{ project.name_client }}
                                        </a>
                                    </strong>
                                </li>
                            {% endif %}
                            <li>
                                {% if site.language == "english" %}Date: {% else %}Data: {% endif %}
                                <strong>{{ project.project_date }}</strong>
                            </li>
                            <li>{% if site.language == "english" %} Type: {% else %} Tipo: {% endif %}
                                <strong>{{ project.type }}</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 box-btn-closed-bottom">
                        <p>{{ project.content }}</p>
                        <button type="button" class="btn btn-default btn-close-bottom" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>