<!-- Modal Feed-->
<div class="modal fade" id="modalFeed" tabindex="-1" role="dialog" aria-labelledby="Modal Feeds" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <div class="lr">
                <div class="rl">
                </div>
            </div>
        </button>
        <h4 class="modal-title"><span id="modal-feed-title">{{ site.theme.str_modal_feed_title }} {{ site.theme.title }}</span></h4>
      </div>
      <div class="wrapper-avatar-feed">
        {% if site.theme.gravatar %}
          <a class="feed-link-site" href="{{ site.url }}">
            <img class="avatar-modal-feed" src="https://secure.gravatar.com/avatar/{{ site.theme.gravatar }}?s=100" alt="{% if page.title %}{{page.title}} | {% endif %}{{site.theme.title}} - {% if site.theme.subtitle_site %}{{site.theme.subtitle_site}}{% endif %}"/>
          </a>
        {% else if site.theme.avatar %}
          <a class="feed-link-site" href="{{ site.baseurl | prepend: site.url }}">
            <img class="avatar-modal-feed" src="{{ "/assets/images/avatar"  | prepend: site.baseurl | prepend: site.url }}/{{ site.theme.avatar }}" alt="{% if page.title %}{{page.title}} | {% endif %}{{site.theme.title}} - {% if site.theme.subtitle_site %}{{site.theme.subtitle_site}}{% endif %}"/>
          </a>
         {% endif %}
      </div>
      <div class="modal-body">
      <div class="row row-form-feed">
        <form  class="form-feed"
                action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow"
                onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri={{ site.theme.rss }}', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

                <p><input class="input-feedburner" placeholder="{{ site.theme.str_form_feed_input }}" type="text" name="email"/></p>
                    <input type="hidden" value="{{ site.theme.rss }}" name="uri"/>
                    <input type="hidden" name="loc" value="pt_BR"/>

                    <div class="btn-group">
                        <input type="submit" class="btn btn-large btn-default btn-success" value="{{ site.theme.str_form_feed_submit }}">
                        <button class="btn btn-large btn-default btn-success dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                      <ul class="dropdown-menu">
                          <li>
                             <a class="btn-reader-feed" href="http://feeds.feedburner.com/{{ site.theme.rss }}" rel="alternate" type="application/rss+xml">
                                  <span class="fa fa-rss" id="iconreader-feed-modal"></span>
                                  <span class="text-feed-reader">{{ site.theme.str_feed_reader }}</span>
                              </a>
                          </li>
                      </ul>
                   </div>
        </form>
      </div>
      </div>
      <div class="modal-footer" id="wrapper-footer--feed">
          <p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p>
      </div>
    </div>
  </div>
</div>