<!DOCTYPE html>
<html>
  {% include html/head.html%}
  <body>
    <div class="wrapper under-maintenance">
       <div class="container">
         <div align="center" class="row">
           <i class="fa fa-wrench"></i>
         </div>
         <div align="center" class="row">
             <h1>
                {{ site.theme.msg_under_maintenance_h1 }}
             </h1>
              <h3>
                {{ site.theme.msg_under_maintenance_h3 }}
              </h3>
           <div class="row">
             <div class="um-social-icons">
              {% include html/social_icons.html %}
             </div>
           </div>
           {% if site.theme.umain_button.enable == "yes" %}
            <div class="row">
             <a href="{{ site.theme.umain_button.href }}" class="btn btn-primary" target="_blank">{{ site.theme.umain_button.value }}</a>
           </div>
           {% endif %}
         </div>
       </div>
    </div>
  </body>
</html>