<!DOCTYPE html>
<html>
  {% include html/head.html%}
  <body>
    <div class="wrapper under-maintenance">
       <div class="container">
         <div align="center" class="row">
           <i class="fa fa-wrench"></i>
         </div>
         <div align="center" class="row">
             {% if site.language == "portuguese" %}
             <h1>
                <p>Desculpe :( </p>
                <p>A página do meu blog está em manutenção.</p>
             </h1>
              <h3>
                <p>Enquanto isso, você pode entrar em contacto comigo nos links abaixo:</p>
              </h3>
             {% else %}
              <h1>
                <p>Sorry :(</p>
                <p>The page of my blog is down for maintenance.</p>
              </h1>
              <h3>
                <p>Meanwhile, you can contact me on the following links:</p>
              </h3>
             {% endif %}
           <div class="row">
             <div class="um-social-icons">
              {% include html/social_icons.html %}
             </div>
           </div>
         </div>
       </div>
    </div>
  </body>
</html>