// Blog Section

.arrow-to-blog {
    font-size: 50px;
    color: #fff;
}


.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    @media(min-width: 320px) and(max-width: 480px){
      padding-top: 60px;
    }
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    /*font-size: 4.5em;*/
    font-weight: 500;
    color: #fff;
  a{
    outline:none;
  }
  img {
    margin-top: 10%;
  }
  h1{
    font-weight: 500;
  }
  h3 {
    font-weight: 400;
    padding: 0;
  }

}



.intro-section, .intro-section-portfolio {
    display: table;
    position: relative;
    padding-top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    background: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.portfolio-item {
    margin-bottom: 25px;
}

.portfolio-icon, .blog-icon, .about-icon {
    font-size: 100px;
    color: #fff;
    margin-bottom: 1%;
}

.intro-section {
    background: url(../images/header/sections/dark.jpg) repeat center center scroll !important;
}

.division-wrapper {
    width: 40px;
    margin: 0px auto;
    background-color: red;
    text-align: center;
}

.division-circle {
    z-index: 15;
    position: absolute;
    font-size: 40px;
    margin-left: -16px;
    margin-top: -20px;
    color: #fff;
}

.division-line {
    margin-bottom: 2px;
    background-color: #fff;
}

@media(min-width:320px ) and (max-width: 640px){
    .brand-image{
    width: 120px;
    height: 120px;
    background-size: 120px;
    }


}


.blog-section{
  background-color: #dedede;
  padding: 150px 0px;
  @media(min-width: 320px)and(max-width: 480px){
    padding: 100px 0px;
  }
  background-color: #fff;
  font-family: 'Raleway',sans-serif;
  background-color: #dedede;

  a {
    outline: none;
  }

}

.wrapper-pl{
  padding: 20px;
  height: auto;
  width: 100%;
  background-color: #fff;
  margin-bottom: 2px;
}

.wrapper-titleExcept {
  h1,h2,h3,h4,p{
    font-size: 13px;
  }
}

.calendar-postlist {
  font-size: 60px;
  width: 60px;
  height: 60px;
  float: left;
  clear: both;
  text-align: center;

@media(min-width: 320px)and(max-width: 480px){
  font-size: 30px;
  width: 30px;
  height: 30px;
  float: none;
  clear: none;
}

}

.date-postList {
  font-size: 20px;
  width: auto;
  float: left;
  clear: both;
  text-align: center;

@media(min-width: 320px)and(max-width: 480px){
  float: none;
  clear: none;

}

}

.wrapper-calDate {
  margin-top: 15px;
}

.title-postList {
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  @media(min-width: 320px)and(max-width: 480px){
    font-size: 25px;
  }
}


// Blog Section

// Intro Blog
// @media(min-width: 320px)and(max-width: 480px){
// .intro-blog{
//   display: none;
// }
// }
// Intro Blog

// Intro Portfolio
// @media(min-width: 320px)and(max-width: 480px){
// #intro-portfolio{
//   display: none;
// }
// }
// Intro Portfolio